In [1]:
import pandas as pd

In [2]:
data_path = "../data/curated/transactions.parquet"
data = pd.read_parquet(data_path)
data.head()

,user_id,merchant_abn,dollar_value,order_id,order_datetime,merchant_name,tags,consumer_name,state,postcode,gender
0,1,28000487688,133.226894,0c37b3f7-c7f1-48cb-bcc7-0a58e76608ea,2021-02-28,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...",Yolanda Williams,WA,6935,Female
1,20864,28000487688,378.937918,f7eca4c5-474b-4ab2-ad61-6a8219b26d67,2021-02-28,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...",Heather Ortiz,QLD,4113,Female
2,22666,28000487688,108.164737,f93ae993-80eb-42d1-aaa6-3659e759ed87,2021-02-28,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...",Melissa Terry,QLD,4055,Female
3,23228,28000487688,329.178020,2a61a2f3-fbca-4011-87a3-6f45b4f1f7ed,2021-02-28,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...",Andrew Casey,NSW,2048,Male
4,5131,28000487688,425.750157,b0b4b456-e286-4b84-8313-f5c7210c7b4b,2021-02-28,Sed Nunc Industries,"((books, periodicals, anD newspapers), (b), (t...",Jennifer Hurley,WA,6904,Female

In [10]:
data.count()

user_id           13614675
merchant_abn      13614675
dollar_value      13614675
order_id          13614675
order_datetime    13614675
name_x            13614675
tags              13614675
consumer_id       13614675
name_y            13614675
address           13614675
state             13614675
postcode          13614675
gender            13614675
dtype: int64